* {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  font-family: Arial,sans-serif;
}
.flex {
  display: flex;
}
.flex-h-lc {
  justify-content: flex-start;
  align-items: center;
}
.flex-v-sa {
  flex-direction: column;
  justify-content: space-around;
}
.flex-v-cc {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-1 {
  flex: 1;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.qq-app {
  width: 300px;
  border-radius: 6px;
  padding: 20px 30px 30px;
  background: #fff;
}


.qq-app header {
  font-size: 24px;
  text-align: center;
}
.qq-search {
  margin: 20px 0;
}
.qq-search span {
  margin-right: 10px;
}
.qq-search input {
  display: block;
  height: 20px;
  padding: 2px;
  outline: none;
  border: none;
  border-bottom: 1px solid #333;
}
.qq-search input:focus {
  border-bottom: 1px solid blue;
}
.qq-info {
  border-radius: 8px;
  border: 1px solid #333;
  padding: 10px;
  align-items:stretch
}
.qq-info__avatar {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 14px;
  border-radius: 100%;
}
.qq-info__detail {

}