* {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  box-sizing: border-box;
}

.flex {
  display: flex;
}
.flex-h-lc {
  justify-content: flex-start;
  align-items: center;
}
.flex-v-sa {
  flex-direction: column;
  justify-content: space-around;
}
.flex-v-cc {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-1 {
  flex: 1;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
}

.qq-app {
  width: 360px;
  min-height: 200px;
  border-radius: 6px;
  padding: 20px 30px 30px;
  background: #fff;
}


.qq-app header {
  font-size: 24px;
  text-align: center;
}
.qq-search {
  margin: 20px 0;
}
.qq-search span {
  margin-right: 10px;
}
.qq-search input {
  display: block;
  width: 100%;
  position: relative;
  height: 20px;
  padding: 2px 20px 2px 2px;
  outline: none;
  border: none;
  border-bottom: 1px solid #333;
  background: transparent;
}
.qq-search input:focus {
  border-bottom: 1px solid blue;
}
.qq-search .qq-search__input {
  position: relative;
}
.qq-search .qq-search__loading {
  position: absolute;
  right: 0;
}

.qq-error-msg {
  color: red;
}